#pic_classes_book{
    margin-top: 20px;
    width: 4.5%;
}
#pic_classes_pic{
    width: 80%;
}
#pic_classes_head{
    width: 70%;
}
#classes{
    margin-bottom: 70px;
    position: relative;
    background-color: rgba(245, 176, 144, 0.67);
    box-shadow: 10px 10px 50px #bdbdbd;
}
/*#navbar-icon{*/
    /*display: block;*/
    /*max-width: 100%;*/
    /*height: 25px;*/
/*}*/
#breakline1{
    margin: 0 0 10px 0;
    border-bottom-color: #f6ad3c;
    position: relative;
    top: 40px;
    opacity: 0;
    transition: top 0.5s ease-in 1.5s, opacity 0.5s ease-in 1s;
    -webkit-transition: top 0.5s ease-in 1.5s, opacity 0.5s ease-in 1s;
}
#breakline2{
    border-bottom-color: #0d955a;
    position: relative;
    top: 40px;
    opacity: 0;
    transition: top 0.6s ease-in 2s, opacity 0.5s ease-in 1.5s;
    -webkit-transition: top 0.6s ease-in 2s, opacity 0.5s ease-in 1.5s;
    margin-top: 10px;
    margin-bottom: -10px;
}
#breakline3{
    margin-bottom: 0;
    border-bottom-color: #ea5532;
    margin-top: 10px;
    position: relative;
    top: 40px;
    opacity: 0;
    transition: top 0.6s ease-in 2.5s, opacity 0.5s ease-in 2s;
    -webkit-transition: top 0.6s ease-in 2.5s, opacity 0.5s ease-in 2s;
}
#pic_classes_text{
    width: 100%;
}
#classTabContent img{
    width: 100%;
}
#classTab li{
    margin-top: 20px;
    margin-right: 20px;
    padding-right: 20px;
    float: left;
    list-style-type: none;
    font-size: 1.6em;
}
.col-lg-7 li a{
    color: white;
}
#classTabContent img{
    width: 240px;
}
#classTabContent p{
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    line-height: 20px;
}
#classTabContent .col-lg-7{
    margin-top: 25px;
}
/*入场动画*/
#fadein_book{
    opacity: 0;
    transition: opacity 1.5s ease-out;
    -webkit-transition: opacity 1.5s ease-out;
}
#fallen_h1{
    position: relative;
    top: 40px;
    opacity: 0;
    transition: top 0.5s ease-in 1.5s, opacity 0.5s ease-in 1s;
    -webkit-transition: top 0.5s ease-in 1.5s, opacity 0.5s ease-in 1s;
}
#fallen_pic1{
    position: relative;
    top: 40px;
    opacity: 0;
    transition: top 0.5s ease-in 1.5s, opacity 0.5s ease-in 1s;
    -webkit-transition: top 0.5s ease-in 1.5s, opacity 0.5s ease-in 1s;
}
#fallen_p1{
    position: relative;
    top: 40px;
    opacity: 0;
    transition: top 0.5s ease-in 1.5s, opacity 0.5s ease-in 1s;
    -webkit-transition: top 0.5s ease-in 1.5s, opacity 0.5s ease-in 1s;
}
#fallen_p2{
    position: relative;
    top: 40px;
    opacity: 0;
    transition: top 0.5s ease-in 1.5s, opacity 0.5s ease-in 1s;
    -webkit-transition: top 0.5s ease-in 1.5s, opacity 0.5s ease-in 1s;
}
#fallen_h2{
    position: relative;
    top: 40px;
    opacity: 0;
    transition: top 0.6s ease-in 2s, opacity 0.5s ease-in 1.5s;
    -webkit-transition: top 0.6s ease-in 2s, opacity 0.5s ease-in 1.5s;
}
#fallen_pic2{
    position: relative;
    top: 40px;
    opacity: 0;
    transition: top 0.6s ease-in 2s, opacity 0.5s ease-in 1.5s;
    -webkit-transition: top 0.6s ease-in 2s, opacity 0.5s ease-in 1.5s;
}
#fallen_h3{
    position: relative;
    top: 40px;
    opacity: 0;
    transition: top 0.6s ease-in 2.5s, opacity 0.5s ease-in 2s;
    -webkit-transition: top 0.6s ease-in 2.5s, opacity 0.5s ease-in 2s;
}
#classTab{
    position: relative;
    top: 40px;
    opacity: 0;
    transition: top 0.6s ease-in 2.5s, opacity 0.5s ease-in 2s;
    -webkit-transition: top 0.6s ease-in 2.5s, opacity 0.5s ease-in 2s;
}
#classTabContent{
    margin-bottom: 30px;
    position: relative;
    top: 40px;
    opacity: 0;
    transition: top 0.6s ease-in 2.5s, opacity 0.5s ease-in 2s;
    -webkit-transition: top 0.6s ease-in 2.5s, opacity 0.5s ease-in 2s;
}